
.headmain{
    display: flex;
    justify-content:space-between;
    align-items:center;
    
  }
  .userbox{
    display:flex;
    align-items:center;
  }
  .dropdowncs{
    border:none;
    font-size:12px;
    font-weight:400;
    color:#2C2C2C;
  }

  .comname1 {
    font-size: 25px;
    font-weight: 600;
    color: #5E43B2;
    padding-bottom: 30px;
    
  }  