@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@300;400;600&display=swap');
 
body {
    margin: 0;
    font-family: 'Instrument Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.resolutionCard{
    width: 355px;
    /* Increased width for balanced layout */
    height:246px;
    /* Adjust height dynamically */
    border: 1px solid #c5c4ca !important;
    border-radius: 12px !important;
    /* padding: 15px !important; */
    box-shadow: 0px 4px 4px 0px #00000040 !important;
    background: #fff !important;
    display: flex;
    flex-direction: column;
}

 
 
.resolutionCard .css-k5rr6j {
    /* s */
    /* margin-top: 104px; */
    margin-left: -22px !important;
    gap: 3px !important;
}
 
 
 
 
.message-title {
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
    color: #616163 !important;
    font-family: 'Instrument Sans', sans-serif !important;
}
 
.total-messages {
    font-weight: 700 !important;
    font-size: 20px !important;
    letter-spacing: 0.8px !important;
    color: #5E43B2 !important;
    font-family: 'Instrument Sans', sans-serif !important;
}
 
.amelia,
.users,
.anonymous-users {
    color: #737277;
    font-weight: 500 !important;
    font-size: 10px !important;
    /* Improved readability */
    margin-left: 8px !important;
    font-family: 'Instrument Sans', sans-serif !important;
}
 
.labelValue {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 100% !important;
    font-family: 'Instrument Sans', sans-serif !important;
    color: #000;
}
 
.resolutionCard .recharts-wrapper {
    width: 150px !important;
 
    height: 150px !important;
    margin-top: -18px !important;
}
 
 
 
 
.total-messages-label {
    font-weight: 400 !important;
    font-size: 10px !important;
    color: #737277;
    margin-top: 12px !important;
}